<h2>Edit your article</h2>

<%= form_for :article, url: article_path(@article), method: :put do |f| %>
  <% if @article && @article.errors.any? %>
    <p>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </p>
  <% end %>
  
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>

  <p><%= f.label :text %></p>
  <p><%= f.text_area :text %></p>

  <p><%= f.submit 'Edit article' %></p>
<% end %>