<% @articles.each do |article| %>
  <div class="jumbotron">
    <h4><%= article.title %></h4>
    <p><%= article.text %></p>

    <table>
      <body>
        <tr>
          <td><%= link_to t('articles.details'), article_path(article), class: 'btn btn-info' %></td>
          <% if user_signed_in? && current_user.id == article.user_id %>
            <td><%= link_to t('articles.edit'), edit_article_path(article), class: 'btn btn-info' %></td>
            <td><%= link_to t('articles.delete'), article, method: :delete,
                    data: { confirm: t('articles.confirm') }, class: 'btn btn-danger' %></td>
          <% end %>
        </tr>
      </body>
    </table>

    <hr>  

    <p>Created at <%= article.created_at %></p>
    
  </div>
<% end %>