<h2>All posts</h2>

<% @articles.each do |article| %>
  <h4><%= article.title %></h4>
  <p><%= article.text %></p>
  <p><%= link_to 'Post details', article_path(article) %></p>
  <p><%= link_to 'Edit post', edit_article_path(article) %></p>
  <p><%= link_to 'Delete post', article, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>