<!DOCTYPE html>
<html>
  <head>
    <title>Blogarium</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
        <%= link_to 'Blogarium', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'All articles', articles_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'New article', new_article_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'About', about_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Terms', terms_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contacts', new_contacts_path, class: 'nav-link' %>
            </li>
          </ul>
          <ul class="nav justify-content-end">
            <li>
              <% if user_signed_in? %>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-lg btn-info' %>
              <% else %>
                <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-lg btn-info' %>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>      
            
      <%= yield %>

      <p class="notice text-info"><%= notice %></p>
      <p class="alert text-info"><%= alert %></p>
    </div>
    
  </body>
</html>
